<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{main}">
<body>
<div layout:fragment="content">
    <div class="container">
        <!--begin form list company-->
        <div class="row">
            <div class="col-12">
                <h6 class="mb-5">Company Management</h6>
                <table class="table">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Company Name</th>
                        <th>Zip Code</th>
                        <th>Address</th>
                        <th>Telephone</th>
                        <th>Fax Number</th>
                        <th>Url</th>
                        <th>IpAddress</th>
                        <th>Port</th>
                        <th>IpAddress Internal</th>
                        <th>Port Internal</th>
                        <th>Create Date</th>
                        <th>Update Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="company:${company}"class="text-center">
                        <td th:utext="${company.id}"></td>
                        <td th:utext="${company.company_name}"></td>
                        <td th:utext="${company.zipCode}"></td>
                        <td th:utext="${company.address}"></td>
                        <td th:utext="${company.telephone}"></td>
                        <td th:utext="${company.faxNumber}"></td>
                        <td th:utext="${company.url}"></td>
                        <td th:utext="${company.ipAddress}"></td>
                        <td th:utext="${company.port}"></td>
                        <td th:utext="${company.ipAddressInternal}"></td>
                        <td th:utext="${company.portInternal}"></td>
                        <td th:utext="${company.createDate}"></td>
                        <td th:utext="${company.updateDate}"></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a th:href="@{/company}" class="btn btn-light  mt-3" tabindex="-1" role="button" aria-disabled="true">
                        Cancel
                    </a>
                </div>
        </div>
        <!--end form list company-->
    </div>
</div>
</body>
</html>