<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{main}">
<body>
<div layout:fragment="content">
    <div class="container">
        <!--begin form list postion-->
        <div class="row">
            <div class="col-2 border text-center">
                <div class="mt-2">
                    <a th:href="@{/user}">
                        User Management
                    </a>
                </div>
                <div class="mt-2">
                    <a th:href="@{/position}">
                        Position Management
                    </a>
                </div>
            </div>
            <div class="col-10">
                <h3 class="mb-4">Position Management</h3>
                <a href="/position/add-position"><button type="button" class="btn btn-light mb-3">Add Position</button></a>
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr class="text-center">
                    <th>Id</th>
                    <th>Position Name</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="position:${listPosition}"class="text-center">
                    <td th:utext="${position.id}"></td>
                    <td th:utext="${position.name}"></td>
                    <td th:utext="${position.createDate}"></td>
                    <td th:utext="${position.updateDate}"></td>
                </tr>
                </tbody>
            </table>
                </div>
        </div>
        <!--end form list user-->
    </div>
</div>
</body>
</html>