<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{main}">
<body>
<div layout:fragment="content">
  <div class="container">
    <!--begin form list group-->
    <div class="row">
      <div class="col-2 border  bg-dark-subtle">
        <div class="pt-3">
          <a th:href="@{/user}"  class="link-secondary" style="text-decoration: none"> User Management</a>
        </div>
        <div class="pt-3">
          <a th:href="@{/position}" class="link-secondary" style="text-decoration: none">
            Position Management
          </a>
        </div>
        <div class="pt-3">
          <a th:href="@{/company}" class="link-secondary" style="text-decoration: none">
            Company Management
          </a>
        </div>
        <div class="pt-3">
          <a th:href="@{/group}" class="link-secondary" style="text-decoration: none">
            Group Management
          </a>
        </div>
        <div class="pt-3">
          <a th:href="@{/post}" class="link-secondary" style="text-decoration: none">
            Post Management
          </a>
        </div>
      </div>
      <div class="col-9">
        <h6 class="mb-5">Group Management</h6>
        <a href="/group/add-group"><button type="button" class="btn btn-light mb-3">Add Group</button></a>
        <table class="table">
          <thead class="table-dark">
          <tr class="text-center">
            <th>Id</th>
            <th>Group Name</th>
            <th>Object Data</th>
            <th>Group alias Name</th>
            <th>Public flag</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="group:${listGroup}" class="text-center">
            <td th:utext="${group.id}"></td>
            <td th:utext="${group.name}"></td>
            <td th:utext="${group.objectData}"></td>
            <td th:utext="${group.groupAliasName}"></td>
            <td th:utext="${group.groupAliasName}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--end form list group-->
  </div>
</div>
</body>
</html>